@font-face {
  font-family: 'din-round';
  src: local('din'), url(./fonts/din.otf) format('opentype');
}

/*______________________Landing component______________________*/
/*______________________Dashboard component______________________*/
/* ______________________Quiz component______________________*/
/* Progres bar*/
.progress-bar {
  background-color: transparent !important;
}
.dropdown-toggle::after {
  color: gray !important;
}
.dropdown-item {
  /* background-color: #ded6fc !important; */
  color: black !important;
  font-weight: 700;
  font-family: din-round;
}
dropdown-item:focus {
  /* background-color: #ded6fc !important; */
  background: aliceblue !important;
}
.dropdown-menu {
  /* background-color: #ded6fc !important; */
  /* color: white !important; */
  background-color: #f5dc48;
}
.modal-footer {
  border-top: 1px solid transparent !important;
}
.modal-header {
  border-bottom: 4px dashed #8766fa !important;
  align-items: center !important;
  width: -webkit-fill-available;
  justify-content: center !important;
  padding: O !important;
  background: aliceblue;
}
a:hover {
  color: #8766fa !important;
}
.modal-content {
  align-items: center;
}
.modal-body {
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  /* display: contents; */
}
